html {
  --primary-dark-color: hsl(232, 57%, 8%);
  --primary-color: hsl(232, 57%, 28%);
  --primary-light-color: hsl(232, 57%, 48%);

  --page-background-color: white;
  --page-foreground-color: hsl(232, 57%, 8%);
  --page-secondary-foreground-color: hsl(232, 57%, 28%);
}
