html {
  --primary-dark-color: hsl(41, 47%, 34%);
  --primary-color: hsl(41, 47%, 54%);
  --primary-light-color: hsl(41, 47%, 74%);

  --page-background-color: white;
  --page-foreground-color: hsl(41, 47%, 34%);
  --page-secondary-foreground-color: hsl(41, 47%, 54%);
}
