##======================================================================================================================
## Kyosu - Complex Without Complexes
## Copyright : KYOSU Contributors & Maintainers
## SPDX-License-Identifier: BSL-1.0
##======================================================================================================================
name: KYOSU Unit Testing
on:
  pull_request:
    branches:
      - main

concurrency:
  group: kyosu-unit-${{ github.ref }}
  cancel-in-progress: true

jobs:
  x86:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/jfalcou/compilers:v10
      options: -u root
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { compiler: g++-15     , opts: "-O3 -DNDEBUG"                       }
        - { compiler: clang++-20 , opts: "-O3 -DNDEBUG"                       }
        - { compiler: g++-15     , opts: "-O3 -DNDEBUG -mavx2"                }
        - { compiler: clang++-20 , opts: "-O3 -DNDEBUG -mavx2"                }
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v4
      - name: Running CMake for ${{ matrix.cfg.compiler }} with ${{ matrix.cfg.opts }}
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_CXX_COMPILER=${{ matrix.cfg.compiler }} -DCMAKE_CXX_FLAGS="${{ matrix.cfg.opts }}"
      - name: Running Unit Tests
        run:  cd build && ninja kyosu-test -j 2 && ctest --output-on-failure -j 2

  arm64:
    runs-on: [macos-14]
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { opts: "-O3 -DNDEBUG"       , linker:                 }
        - { opts: "-O3 -stdlib=libc++" , linker: -stdlib=libc++  }
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v4
      - name: Running CMake for clang++ with ${{ matrix.cfg.opts }}
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_CXX_FLAGS="${{ matrix.cfg.opts }}"  -DCMAKE_EXE_LINKER_FLAGS=${{ matrix.cfg.linker }}
      - name: Running Unit Tests
        run:  cd build && make kyosu-test -j 2 && ctest --output-on-failure -j 2
